@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @font-face {
    font-family: 'Overused Grotesk';
    src: url('/fonts/OverusedGrotesk-VF.woff2') format('woff2-variations');
    font-display: swap;
  }
}
